@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.SystemName</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="~/static/easyui/themes/metro/easyui.css">
    <link rel="stylesheet" href="~/static/easyui/themes/icon.css">
    <link rel="stylesheet" href="~/static/fontawesome/css/fontawesome-all.min.css">
    <style>
        .header{height:55px;background-color:#2d3e50;color:#fff;border:none;}
        .footer{height:30px;background-color:#f2f2f2;}
        .sysTitle{font-size:26px;font-weight:bold;line-height:50px;padding-left:10px;float:left;}
        .welcomeInfo{line-height:28px;padding-left:10px;float:left;}
        .copyright{line-height:28px;padding-right:10px;float:right;}
        .panel-body{overflow:hidden;}
    </style>
</head>
<body class="easyui-layout">
    @Html.AntiForgeryToken()

    <div class="header" data-options="region:'north'">
        <div class="sysTitle">@ViewBag.SystemName</div>
        <div style="float:right;padding:5px 10px;">
            欢迎您！@User.Identity.Name
            <span onclick="logout()" class="fa fa-power-off" title="安全退出"></span>
        </div>
    </div>
    <div data-options="region:'west',split:true" style="width:200px;overflow:auto;">
        <div class="easyui-accordion" style="border:none;height:99%;">
            <div title="开发平台" data-options="iconCls:'icon-ok'" style="overflow:auto;">
                <ul id="tt1" class="easyui-tree"></ul>
            </div>
            <div title="系统管理" data-options="iconCls:'icon-ok'" style="overflow:auto;">
                <ul id="tt2" class="easyui-tree"></ul>
            </div>
            <div title="业务系统" data-options="iconCls:'icon-ok'" style="overflow:auto;">
                <ul id="tt3" class="easyui-tree"></ul>
            </div>
        </div>
    </div>
    <div data-options="region:'center'" style="border:none;">
        <div id="tt" class="easyui-tabs" style="height:100%;">
            <div title="Home"></div>
        </div>
    </div>
    <div class="footer" data-options="region:'south'">
        <div class="welcomeInfo"></div>
        <div class="copyright">&copy; Known</div>
    </div>

    <script src="~/static/easyui/jquery.min.js"></script>
    <script src="~/static/easyui/jquery.easyui.min.js"></script>
    <script src="~/static/comm/js/common.js"></script>

    <script>
        function addTab(title, url) {
            console.log([title,url]);
            if ($('#tt').tabs('exists', title)) {
                $('#tt').tabs('select', title);
            } else {
                var content = '<iframe scrolling="auto" frameborder="0" src="' + url + '" style="width:100%;height:100%;"></iframe>';
                $('#tt').tabs('add', {
                    title: title,
                    content: content,
                    closable: true
                });
            }
        }

        function logout() {
            $.post('@Url.Action("SignOut", "User")', function () {
                location.reload();
            });
        }

        $('#tt1,#tt2,#tt3').tree({
            url: '@Url.Action("GetUserMenus", "User")',
            onClick: function (node) {
                console.log(node);
                if (node.url) {
                    addTab(node.text, node.url);
                }
            }
        });
    </script>
</body>
</html>