@page "/login"
@layout EmptyLayout
@inherits LoginPage

<div class="login">
    <div class="login-head">
        <div class="login-logo">
            <a class="kui-logo" href="@Config.SiteUrl" target="_blank"></a>
            <div class="kui-app-name">@AppConfig.AppName</div>
        </div>
        <TopRight />
    </div>
    <div class="login-body">
        <div class="login-left">
            <ul>
                <li>@Language["OpenSource"]</li>
                <li>@Language["LowCode"]</li>
                <li>@Language["ModernUI"]</li>
            </ul>
            <img src="img/login.png" />
        </div>
        <div class="login-form">
            <div class="login-form-body">
                <Tabs Animated>
                    <TabPane Key="Account" Tab="@Language?["Login.WithAccount"]">
                        <LoginForm Model="Model" OnLogin="OnUserLogin" IsCaptcha="IsCaptcha" />
                    </TabPane>
                    <TabPane Key="Phone" Tab="@Language?["Login.WithPhone"]">
                        <LoginForm Model="Model" OnLogin="OnUserLogin" OnSendSMS="OnSendSMS" />
                    </TabPane>
                    <TabPane Key="QRCode" Tab="@Language?["Login.WithQRCode"]">
                        <div style="text-align:center;">
                            <div style="margin-bottom:10px;">请使用手机浏览器扫码登录</div>
                            <KQRCode Option="qrCode" />
                        </div>
                    </TabPane>
                </Tabs>
            </div>
        </div>
    </div>
    <div class="login-copyright"><KFooter /></div>
</div>

@code {
    private bool IsCaptcha => Config.System?.IsLoginCaptcha == true;
    private object qrCode => new { Text = Config.HostUrl, Width = 200, Height = 200 };

    private Task<Known.Result> OnSendSMS(string phone)
    {
        return Known.Result.SuccessAsync("发送成功！");
    }
}