@inherits BaseComponent

<AntCol Span="Span" Class="@Class">
    @if (NoForm)
    {
        <FieldItem Label="@Label" LabelTemplate="LabelTemplate" Class="@ClassName" Style="@Style" Tooltip="@Tooltip">
            <div class="ant-form-item-control-input">
                <div class="ant-form-item-control-input-content">
                    @ChildContent
                </div>
            </div>
        </FieldItem>
    }
    else
    {
        <FormItem Label="@Label" LabelTemplate="LabelTemplate" Class="@ClassName" Style="@Style" Required="Required" Rules="Rules" Tooltip="@Tooltip">
            <DataItemValue IsFixed Value="this">
                @ChildContent
            </DataItemValue>
        </FormItem>
    }
</AntCol>