@inherits BaseComponent

<div class="@ClassName" style="@Style">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <div class="ant-form-item-label">
            <label class="@LabelClass">@Language[Label]</label>
            @if (!string.IsNullOrWhiteSpace(Tooltip))
            {
                <KIcon Icon="question-circle" Title="@Tooltip" />
            }
        </div>
    }
    else if (LabelTemplate != null)
    {
        <div class="ant-form-item-label">
            @LabelTemplate
        </div>
    }
    <div class="ant-form-item-control">
        @ChildContent
    </div>
</div>