@inherits BaseComponent

<div class="kui-edit-input">
    @if (isEdit)
    {
        <AntInput Value="@Value" ValueChanged="OnValueChanged" />
        <span class="ant-menu-item-selected" @onclick="e=>OnSaveClick()">@Language.OK</span>
        <span class="ant-menu-item-selected" @onclick="e=>isEdit=false">@Language.Cancel</span>
    }
    else
    {
        <span>@Value</span>
        <span class="ant-menu-item-selected" @onclick="e=>isEdit=true">@Language.Edit</span>
    }
</div>