@if (!string.IsNullOrWhiteSpace(Icon))
{
    if (!string.IsNullOrWhiteSpace(Title))
    {
        <Tooltip Title="@Title">
            @if (Icon.StartsWith("fa"))
            {
                <span class="@Icon" @onclick="e=>OnClick?.InvokeAsync(e)"></span>
            }
            else
            {
                <Icon Type="@Icon" OnClick="e=>OnClick?.InvokeAsync(e)" />
            }
            @if (!string.IsNullOrWhiteSpace(Name))
            {
                <span class="icon-name">@Name</span>
            }
        </Tooltip>
    }
    else
    {
        if (Icon.StartsWith("fa"))
        {
            <span class="@Icon" @onclick="e=>OnClick?.InvokeAsync(e)"></span>
        }
        else
        {
            <Icon Type="@Icon" OnClick="e=>OnClick?.InvokeAsync(e)" />
        }
        @if (!string.IsNullOrWhiteSpace(Name))
        {
            <span class="icon-name">@Name</span>
        }
    }
}

@code {
    /// <summary>
    /// 取得或设置图标。
    /// </summary>
    [Parameter] public string Icon { get; set; }

    /// <summary>
    /// 取得或设置图标名称。
    /// </summary>
    [Parameter] public string Name { get; set; }

    /// <summary>
    /// 取得或设置图标提示标题。
    /// </summary>
    [Parameter] public string Title { get; set; }

    /// <summary>
    /// 取得或设置图标单击事件。
    /// </summary>
    [Parameter] public EventCallback<MouseEventArgs>? OnClick { get; set; }
}