@inherits BaseComponent

<div class="known">
    <div class="known-desc">
        <strong>@Language["Known.Title"]</strong><br />
        - @Language["Known.Note1"]<br />
        - @Language["Known.Note2"]
    </div>
    <div class="known-url">
        @Language["Known.WebSite"]<a href="@Config.SiteUrl" target="_blank">@Language["WebSite"]</a>
        <a href="@Config.SiteUrl/doc" target="_blank">@Language["Document"]</a>
        <a href="@Config.SiteUrl/article/auth-coop" target="_blank">@Language["Button.Authorize"]</a><br />
        @Language["Known.Source"]<a href="@Config.GiteeUrl" target="_blank"><img src="@Config.GiteeUrl/badge/star.svg?theme=dark" alt="star"></a><a href="@Config.GithubUrl" target="_blank"><img src="https://img.shields.io/github/stars/known/known?color=%231890FF" alt="stars"></a><br />
        @Language["Known.QQNo"]<img src="https://img.shields.io/badge/QQ-865982686-blue" alt="865982686" />
    </div>
</div>