@inherits BaseComponent

<RegisterInfoForm Name="formRegister" Model="Model" Method="HttpMethod.Post" OnFinish="OnFinish">
    <FormItem Label="" Required Rules="@Context.RuleRequired("UserName")">
        <AntInput Icon="user" @bind-Value="@context.UserName" Placeholder="用户名或手机号" />
    </FormItem>
    <FormItem Label="" Required Rules="@Context.RuleRequired("Password")">
        <AntPassword Icon="lock" @bind-Value="@context.Password" Placeholder="密码" />
    </FormItem>
    <FormItem Label="" Required Rules="@Context.RuleRequired("Password")">
        <AntPassword Icon="lock" @bind-Value="@context.Password1" Placeholder="确认密码" />
    </FormItem>
    <FormItem Label="" Required Rules="@Context.RuleRequired("Captcha")">
        <AntCaptcha Icon="check" @ref="captcha" @bind-Value="@context.Captcha" Placeholder="验证码" />
    </FormItem>
    <FormItem>
        <Button HtmlType="submit" Type="@ButtonType.Primary" Block>注册并登录</Button>
    </FormItem>
</RegisterInfoForm>