<div id="tabs1" class="mini-tabs" activeIndex="0"
     style="width:100%;height:100%;" borderStyle="border:0;">
    <div title="个人信息" iconCls="fa-user">

    </div>
    <div title="修改密码" iconCls="fa-pencil-square-o">
        <div class="mini-fit" style="padding:5px;">
            <table id="formUpdatePwd" class="form">
                <tr>
                    <th style="width:80px;">用户名</th>
                    <td></td>
                </tr>
                <tr>
                    <th>原密码</th>
                    <td>@Form.Password("OldPassword", true)</td>
                </tr>
                <tr>
                    <th>新密码</th>
                    <td>@Form.Password("Password", true)</td>
                </tr>
                <tr>
                    <th>确认密码</th>
                    <td>@Form.Password("Password1", true)</td>
                </tr>
            </table>
        </div>
        <div id="tbFormUpdatePwd" class="bottomToolbar">
            @Form.Button(Form.ButtonType.Save)
            @Form.Button(Form.ButtonType.Close)
        </div>
    </div>
</div>
