@inherits BaseComponent

<ul class="boot-nav-right">
    <li @onclick="@(e=>OnItemClick("home"))">
        <Tooltip Placement="Placement.Top" Title="系统首页"><i class="fa fa-home" /></Tooltip>
    </li>
    <li @onclick="OnFullScreen">
        <Tooltip Placement="Placement.Top" Title="@FullScreenTitle"><i class="@FullScreenIcon" /></Tooltip>
    </li>
    <li @onclick="@(e=>OnItemClick("profile"))">
        <Tooltip Placement="Placement.Top" Title="个人中心"><i class="fa fa-user" />@CurrentUser?.Name</Tooltip>
    </li>
    <li @onclick="@(e=>OnItemClick("logout"))">
        <Tooltip Placement="Placement.Top" Title="安全退出"><i class="fa fa-power-off" /></Tooltip>
    </li>
</ul>

@code {
    private bool showSetting = false;
    private bool isFullScreen = false;
    private string FullScreenTitle => isFullScreen ? "退出全屏" : "全屏显示";
    private string FullScreenIcon => isFullScreen ? "fa fa-compress-arrows-alt" : "fa fa-expand-arrows";

    [Parameter] public Action<string> OnMenuClick { get; set; }

    private void OnItemClick(string id) => OnMenuClick?.Invoke(id);

    private void OnFullScreen()
    {
        isFullScreen = !isFullScreen;
        if (isFullScreen)
            JS.OpenFullScreen();
        else
            JS.CloseFullScreen();
    }
}