@inherits BaseComponent

<div class="foot">
    <div class="content">
        <div class="brand">
            <img src="img/logo.png" />
            <div class="desc">@Language["HomePage.FootDesc"]</div>
        </div>
        <div class="links">
            <h4>@Language["HomePage.Links"]</h4>
            <ul>
                <li><a target="_blank" href="https://blazor.net/docs/components/index.html">Blazor@(Language["HomePage.Document"])</a></li>
                <li><a target="_blank" href="https://antblazor.com">Ant Design Blazor</a></li>
                <li><a target="_blank" href="https://fontawesome.com.cn">Fontawesome@(Language["HomePage.Chinese"])</a></li>
                <li><a target="_blank" href="http://www.animate.net.cn">Animate@(Language["HomePage.Chinese"])</a></li>
            </ul>
        </div>
        <div class="links">
            <h4>@Language["HomePage.Contact"]</h4>
            <ul>
                <li><a target="_blank" href="mailto:knownchen@163.com">@Language["HomePage.Email"]</a></li>
                <li>QQ：865982686</li>
            </ul>
        </div>
        <div class="qrcode"><img src="/img/qrcode.jpg" width="200" /></div>
    </div>
    <div class="copyright">
        <span>©2020-@DateTime.Now.Year @Language["HomePage.Company"]</span>
        <a target="_blank" href="https://beian.miit.gov.cn">苏ICP备20045379号-1</a>
    </div>
</div>