@page "/"
@inherits BaseComponent

<PageTitle>@AppConfig.Branch - @Language["App.SubTitle"]</PageTitle>

<div class="head">
    <div class="logo">
        <Icon Type="menu" Theme="outline" OnClick="_ => showDrawer = true" />
        <div class="img"></div>
        <NavMenu @ref="nav1" />
    </div>
    <div class="navi">
        <div class="version">
            <Button>2.0.0</Button>
        </div>
        <div class="language">
            <AntLanguage OnChanged="StateChanged" />
        </div>
        <div style="margin-left:15px;">
            <AntTheme Theme="@theme" OnChanged="OnThemeChanged" />
        </div>
    </div>
</div>

<div class="hero">
    <div class="content">
        <div class="hero-name">@Language["HomePage.Title"]</div>
        <div class="hero-desc">@Language["HomePage.Description"]</div>
        <div class="hero-btns">
            <a href="/demo"><Button Class="hero-btn" Type="@ButtonType.Primary">@Language["HomePage.Preview"]</Button></a>
            <a href="/doc"><Button Class="hero-btn">@Language["HomePage.Start"]</Button></a>
            <a href="https://www.nuget.org/profiles/known" target="_blank">
                <img src="https://img.shields.io/nuget/dt/Known.svg?logo=nuget&logoColor=green" alt="downloads">
            </a>
        </div>
    </div>
    <div class="image"></div>
</div>
        
<div class="section feature">
    <div class="item">
        <img src="img/item-dev.png" />
        <h3>@Language["HomePage.FastDev"]</h3>
        <p>@Language["HomePage.FastDevInfo"]</p>
    </div>
    <div class="item">
        <img src="img/item-comm.png" />
        <h3>@Language["HomePage.Common"]</h3>
        <p>@Language["HomePage.CommonInfo"]</p>
    </div>
    <div class="item">
        <img src="img/item-global.png" />
        <h3>@Language["HomePage.Global"]</h3>
        <p>@Language["HomePage.GlobalInfo"]</p>
    </div>
    <div class="item">
        <img src="img/item-ui.png" />
        <h3>@Language["HomePage.AbstractUI"]</h3>
        <p>@Language["HomePage.AbstractInfo"]</p>
    </div>
    <div class="item">
        <img src="img/item-best.png" />
        <h3>@Language["HomePage.Best"]</h3>
        <p>@Language["HomePage.BestInfo"]</p>
    </div>
    <div class="item">
        <img src="img/item-csharp.png" />
        <h3>@Language["HomePage.CSharp"]</h3>
        <p>@Language["HomePage.CSharpInfo"]</p>
    </div>
</div>

<div class="section start">
    <h3>@Language["HomePage.LetsGO"]</h3>
    <p>@Language["HomePage.CmdLine"]</p>
    <div class="code">
        <span class="code-comment">--@Language["HomePage.InstallTemplate"]</span><br />
        <span>dotnet new install KnownTemplate</span><br /><br />
        <span class="code-comment">--@Language["HomePage.CreateProject"]</span><br />
        <span class="code-comment">--@Language["HomePage.HostParam"]：full(@Language["HomePage.Default"])/web/winform</span><br />
        <span>dotnet new known --name=MyApp</span><br />
    </div>
</div>

<Known.Web.Footer @ref="footer" />

<Drawer Class="side" Width="180" Visible="@showDrawer" Placement="left" OnClose="_ => showDrawer = false">
    <NavMenu @ref="nav2" IsSide />
</Drawer>

 @code {
    private string theme;
    private bool showDrawer;
    private NavMenu nav1;
    private NavMenu nav2;
    private Known.Web.Footer footer;
    [Inject] private Known.AntBlazor.UIService AntUI { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        theme = await JS.GetCurrentThemeAsync();
        Context.UI = AntUI;
    }

    public override void StateChanged()
    {
        base.StateChanged();
        nav1?.StateChanged();
        nav2?.StateChanged();
        footer?.StateChanged();
    }

    private void OnThemeChanged(string value)
    {
        theme = value;
        base.StateChanged();
    }
}