@inherits BaseComponent

<ul class="navi">
    <li><a href="/">@Language["Menu.Home"]</a></li>
    <li><a href="/doc">@Language["Document"]</a></li>
    @if (IsSide)
    {
        <li>@gitee</li>
        <li>@github</li>
    }
    else
    {
        <li>
            <Dropdown>
                <Overlay>
                    <Menu>
                        <MenuItem>@gitee</MenuItem>
                        <MenuItem>@github</MenuItem>
                    </Menu>
                </Overlay>
                <ChildContent>
                    <a class="ant-dropdown-link" @onclick:preventDefault>
                        @Language["SourceCode"] <Icon Type="down" />
                    </a>
                </ChildContent>
            </Dropdown>
        </li>
    }
</ul>

@code {
    RenderFragment gitee = @<a class="git" href="@Config.GiteeUrl" target="_blank"><img src="img/gitee.png" alt="Gitee">Gitee</a>;
    RenderFragment github =@<a class="git" href="@Config.GithubUrl" target="_blank"><img src="img/github.png" alt="Github">Github</a>;

    [Parameter] public bool IsSide { get; set; }
}