@inherits InstallPage

<div class="install">
    <h1>欢迎使用@(Config.App.Id)</h1>
    <Form Model="@Model" OnFinish="OnStart" LabelColSpan="colLabel" WrapperColSpan="colWrapper">
        <FormItem>
            <Input @bind-Value="@context.CompNo" />
        </FormItem>
        <FormItem>
            <Input @bind-Value="@context.CompName" />
        </FormItem>
        <FormItem>
            <Input @bind-Value="@context.AppName" />
        </FormItem>
        <FormItem>
            <Input @bind-Value="@context.UserName" ReadOnly />
        </FormItem>
        <FormItem>
            <InputPassword @bind-Value="@context.Password" />
        </FormItem>
        <FormItem>
            <InputPassword @bind-Value="@context.Password1" />
        </FormItem>
        <FormItem WrapperColOffset="colLabel" WrapperColSpan="colWrapper">
            <Button Type="@ButtonType.Primary" HtmlType="submit">开始使用</Button>
        </FormItem>
    </Form>
</div>

@code {
    private int colLabel = 6;
    private int colWrapper = 18;
}