@inherits BaseComponent
@typeparam TItem where TItem : class, new()

<div class="ant-query">
@if (Model.QueryColumns != null && Model.QueryColumns.Count > 0)
{
    var showCount = 3;
    var count = Model.QueryColumns.Count;
    if (count > showCount)
        count = _expand ? count : showCount;
    <Form @ref="_form" Model="Model.QueryData" Layout="@FormLayout.Inline">
        @for (var i = 0; i < count; i++)
        {
            var item = Model.QueryColumns[i];
            var itemName = Language.GetString<TItem>(item);
            var itemType = "String";
            if (item.Property != null)
                itemType = item.Property.PropertyType.ToString();
            <FormItem Label="@itemName">
                @if (!string.IsNullOrWhiteSpace(item.Category))
                {
                    var codes = Cache.GetCodes(item.Category).ToCodes(item.IsQueryAll ? Language["All"] : "");
                    <AntSelect Style="width:150px;" DataSource="codes" @bind-Value="@context[item.Id].Value" OnSelectedItemChanged="e=>OnSearchAsync()" />
                }
                else if (itemType.Contains("DateTime"))
                {
                    <AntRangePicker @bind-RangeValue="@context[item.Id].Value" />
                }
                else
                {
                    <Input Style="width:150px;" @bind-Value="@context[item.Id].Value" />
                }
            </FormItem>
        }
        <div class="ant-query-btn">
            <Button Type="primary" Icon="search" OnClick="e=>OnSearchAsync()">@Language.Search</Button>
            <Button Type="primary" Icon="search" OnClick="e=>ShowAdvSearch()">@Language.AdvSearch</Button>
            <Button Icon="undo" OnClick="()=>{_form?.Reset();}">@Language.Reset</Button>
            @if (Model.QueryColumns.Count > showCount)
            {
                <a style="margin-left:8px;font-size:12px;" @onclick="()=>{_expand=!_expand;}">
                    <Icon Type="@(_expand ? "up" : "down")"></Icon> @(_expand ? Language["Collapse"] : Language["Expand"])
                </a>
            }
        </div>
    </Form>
}
</div>

@code {
    bool _expand = false;
    AntDesign.Internal.IForm _form;

    [Parameter] public TableModel<TItem> Model { get; set; }

    private async Task OnSearchAsync()
    {
        Model.Criteria.IsQuery = true;
        Model.Criteria.Query = Model.QueryData.Select(d => d.Value).ToList();
        await Model.RefreshAsync();
    }

    private void ShowAdvSearch() => Model.ShowAdvancedSearch();
}