@inherits BaseComponent
@typeparam TItem where TItem : class, new()

@if (Model.QueryColumns != null && Model.QueryColumns.Count > 0)
{
    if (Model.QueryColumns.Count > 3)
    {
        var showCount = 3;
        var count = Model.QueryColumns.Count;
        if (count > showCount)
            count = _expand ? count : showCount;
        var offset = _expand ? (3 - count % 4) * 6 : 0;
        <div class="ant-query-more">
            <Form @ref="_form" Model="Model.QueryData">
                <GridRow Gutter="24">
                    @for (var i = 0; i < count; i++)
                    {
                        var item = Model.QueryColumns[i];
                        var itemName = Language.GetString<TItem>(item);
                        <GridCol Span="6">
                            <QueryItem Label="@itemName" Item="item" Data="context" OnSearch="OnSearchAsync" />
                        </GridCol>
                    }
                    <GridCol Span="6" Offset="offset" Style="text-align:right;">
                        <Button Type="primary" Icon="search" OnClick="e=>OnSearchAsync()">@Language.Search</Button>
                        @if (AdvSearch)
                        {
                            <Button Type="primary" OnClick="e=>ShowAdvSearch()">@Language.AdvSearch</Button>
                        }
                        <Button Icon="undo" OnClick="()=>{_form?.Reset();}">@Language.Reset</Button>
                        @if (Model.QueryColumns.Count > showCount)
                        {
                            <a style="margin-left:8px;font-size:12px;" @onclick="()=>{_expand=!_expand;}">
                                <Icon Type="@(_expand ? "up" : "down")"></Icon> @(_expand ? Language["Collapse"] : Language["Expand"])
                            </a>
                        }
                    </GridCol>
                </GridRow>
            </Form>
        </div>
    }
    else
    {
        <div class="ant-query">
            <Form @ref="_form" Model="Model.QueryData" Layout="@FormLayout.Inline">
                @for (var i = 0; i < Model.QueryColumns.Count; i++)
                {
                    var item = Model.QueryColumns[i];
                    var itemName = Language.GetString<TItem>(item);
                    <QueryItem IsInline Label="@itemName" Item="item" Data="context" OnSearch="OnSearchAsync" />
                }
                <div class="ant-query-btn">
                    <Button Type="primary" Icon="search" OnClick="e=>OnSearchAsync()">@Language.Search</Button>
                    @if (AdvSearch)
                    {
                        <Button Type="primary" OnClick="e=>ShowAdvSearch()">@Language.AdvSearch</Button>
                    }
                    <Button Icon="undo" OnClick="()=>{_form?.Reset();}">@Language.Reset</Button>
                </div>
            </Form>
        </div>
    } 
}

@code {
    private bool _expand = false;
    private AntDesign.Internal.IForm _form;

    [Parameter] public TableModel<TItem> Model { get; set; }
    [Parameter] public bool AdvSearch { get; set; } = true;

    private async Task OnSearchAsync()
    {
        try
        {
            Model.Criteria.IsQuery = true;
            Model.Criteria.Query = Model.QueryData.Select(d => d.Value).ToList();
            await Model.RefreshAsync();
        }
        catch (Exception ex)
        {
            await Error.HandleAsync(ex);
        }
    }

    private void ShowAdvSearch() => Model.ShowAdvancedSearch();
}