@inherits BaseComponent

<LoginInfoForm @ref="form" Name="form1" Class="@FormStyle" Model="Model" Method="post" OnFinish="OnFinish">
    <FormItem Label="" Required Rules="@Context.RuleRequired("UserName")">
        <AntInput @bind-Value="@Model.UserName" Placeholder="@Language["UserName"]">
            <Prefix><Icon Type="user" /></Prefix>
        </AntInput>
    </FormItem>
    <FormItem Label="" Required Rules="@Context.RuleRequired("Password")">
        <InputPassword @bind-Value="@Model.Password" Placeholder="@Language["Password"]">
            <Prefix><Icon Type="lock" /></Prefix>
        </InputPassword>
    </FormItem>
    @if (Stations != null && Stations.Count > 0)
    {
        <FormItem Label="" Required Rules="@Context.RuleRequired("Station")">
            <AntSelect @bind-Value="@Model.Station" DataSource="Stations" Placeholder="@Language["Station"]">
                <PrefixIcon><Icon Type="control" Style="padding:0 9px 0 7px;" /></PrefixIcon>
            </AntSelect>
        </FormItem>
    }
    else if (IsCaptcha)
    {
        <FormItem Label="" Required Rules="@Context.RuleRequired("Captcha")">
            <AntCaptcha @ref="captcha" @bind-Value="@Model.Captcha" Placeholder="@Language["Captcha"]">
                <Prefix><Icon Type="check" /></Prefix>
            </AntCaptcha>
        </FormItem>
    }
    <FormItem>
        <Checkbox @bind-Value="Model.Remember">@Language["Login.RememberUser"]</Checkbox>
    </FormItem>
    <FormItem>
        <Button HtmlType="submit" Type="@ButtonType.Primary" Block>@Language["Login"]</Button>
    </FormItem>
</LoginInfoForm>

@code {
    private LoginInfoForm form;
    private AntCaptcha captcha;
    private SystemInfo system;
    private bool IsCaptcha => !IsStatic && system != null && system.IsLoginCaptcha;
    private string FormStyle => IsCaptcha || Stations != null ? "" : "kui-nocaptcha";

    [Parameter] public LoginFormInfo Model { get; set; }
    [Parameter] public List<string> Stations { get; set; }
    [Parameter] public Func<Task> OnLogin { get; set; }

    protected override async Task OnInitAsync()
    {
        await base.OnInitAsync();
        var service = await CreateServiceAsync<ISystemService>();
        system = await service.GetSystemAsync();
    }

    private async Task OnFinish(EditContext context)
    {
        if (IsCaptcha)
        {
            if (!captcha.Validate(out string message))
            {
                await UI.Toast(message, StyleType.Error);
                return;
            }
        }

        Model.IsMobile = Context.IsMobile;
        await OnLogin?.Invoke();
    }
}