<div id="form1">
    <input class="mini-hidden" name="Id" />
    <table class="form">
        <tr>
            <th style="width:120px;"><label for="UserName$text">TextBox：</label></th>
            <td>
                @Form.TextBox("UserName", true, new { emptyText = "请输入用户名" })
            </td>
            <th style="width:120px;"><label for="Password$text">Password：</label></th>
            <td>
                @Form.Password("Password", true)
            </td>
        </tr>
        <tr>
            <th><label for="Area$text">TextArea：</label></th>
            <td colspan="3">
                @Form.Password("Area", true)
            </td>
        </tr>
        <tr>
            <th><label for="BirthDay$text">DatePicker：</label></th>
            <td>
                @Form.Password("BirthDay", true, new { value = "2010-10-12" })
            </td>
            <th>Spinner：</th>
            <td>
                @Form.Spinner("Age", true, new { value = "22", minValue = "10", maxValue = "50" })
            </td>
        </tr>
        <tr>
            <th>TimeSpinner：</th>
            <td>
                @Form.TimeSpinner("BirthDay", false, new { format = "H:mm" })
            </td>
            <th>CheckBox：</th>
            <td>
                <input name="Married" class="mini-checkbox" text="婚否" value="Y" trueValue="Y" falseValue="N" />
            </td>
        </tr>
        <tr>
            <th>ComboBox：</th>
            <td>
                <input name="Country" showNullItem="true" class="mini-combobox" url="/static/modules/frame/demo/data/countrys.txt" value="cn" textField="text" valueField="id" />
                <br />
                <span id="combobox_error" style="color:Red;"></span>
            </td>
            <th>TreeSelect：</th>
            <td>
                <input name="TreeSelect" class="mini-treeselect" url="/static/modules/frame/demo/data/listTree.txt" multiSelect="true"
                       textField="text" valueField="id" parentField="pid" checkRecursive="true"
                       value="ajax,button" />
            </td>
        </tr>
        <tr>
            <th>CheckBoxList：</th>
            <td colspan="3" class="noborder">
                <div name="countrys" class="mini-checkboxlist" repeatItems="5" repeatLayout="flow" url="/static/modules/frame/demo/data/countrys.txt" value="cn,de,usa" textField="text" valueField="id"></div>
            </td>
        </tr>
        <tr>
            <th>RadioButtonList：</th>
            <td colspan="3" class="noborder">
                <div name="countrys2" class="mini-radiobuttonlist" value="en" repeatItems="2" repeatDirection="vertical" repeatLayout="table" url="/static/modules/frame/demo/data/countrys.txt" textField="text" valueField="id"></div>
            </td>
        </tr>
        <tr>
            <th>ListBox：</th>
            <td colspan="3" class="noborder">
                <div name="countrys3" showNullItem="true" class="mini-listbox" url="/static/modules/frame/demo/data/countrys.txt" value="fr" textField="text" valueField="id" style="height:120px;"></div>
            </td>
        </tr>
        <tr>
            <th></th>
            <td colspan="3">
                <a class="mini-button" onclick="DemoForm.submitForm()">提交</a>
                <a class="mini-button" onclick="DemoForm.loadForm()">加载</a>
                <a class="mini-button" onclick="DemoForm.resetForm()">重置</a>
                <a class="mini-button" onclick="DemoForm.clearForm()">清空</a>
                <a class="mini-button" onclick="DemoForm.setForm()">绑定数据</a>
                <a class="mini-button" onclick="DemoForm.getForm()">获取数据</a>
                <a class="mini-button" onclick="DemoForm.setLabel()">查看模式</a>
                <a class="mini-button" onclick="DemoForm.setInput()">编辑模式</a>
            </td>
        </tr>
    </table>
</div>