@using Known.Razor.Components
@inherits WebPage

<style>
    .count {position:absolute;top:30px;right:10px;height:100px;}
    .count li {
        display:inline-block;width:140px;height:110px;margin:0 5px;
        background-color:#f5f5f5;position:relative;
        -webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
    }
    .count li .name {display:block;border-bottom:1px solid #e8eaec;padding:5px 10px;}
    .count li .month {
        position:absolute;top:5px;right:5px;font-size:14px;padding:0 5px;
        background-color:#e6f7ff;border:1px solid #91d5ff;color:#1890ff;
        -webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;
    }
    .count li .amount {
        position:absolute;top:45px;left:5px;right:5px;text-align:center;
        font-size:1.8rem;height:50px;line-height:50px;
    }
    .count li .stock {position:absolute;top:45px;font-size:1rem;height:50px;padding:0 10px;}
    .count li .stock span {display:block;height:25px;line-height:25px;}
    .charts {position:absolute;top:0;right:10px;}
    .charts li {display:inline-block;cursor:pointer;padding:0 8px;}
    .charts li.active {border-bottom:2px solid #009688;}
</style>

<div class="ws-card" style="padding:10px 20px;">
    <div class="ws-title">工作台</div>
    <img class="ws-avatar" src="_content/Known.Razor@(user?.AvatarUrl)" />
    <span class="ws-name">@info?.Greeting</span>
    <span class="ws-tips">
        今天是：@DateTime.Now.ToString("yyyy-MM-dd dddd")
    </span>
    <ul class="count">
        <li>
            <span class="name">总数</span>
            <span class="amount">0</span>
        </li>
        <li>
            <span class="name">总数</span>
            <span class="amount">0</span>
        </li>
        <li>
            <span class="name">总数</span>
            <span class="amount">0</span>
        </li>
    </ul>
</div>
<div class="ws-row">
    <div class="ws-card ws-todo">
        <div class="ws-card-head">
            <i class="fa fa-bar-chart"></i>
            <span>数据统计</span>
            <ul class="charts">
                <li class="@IsChartActive(1)" onclick="@(() => OnChartClick(1))">按单量</li>
                <li class="@IsChartActive(2)" onclick="@(() => OnChartClick(2))">按金额</li>
            </ul>
        </div>
        <div class="ws-card-body">
            <Chart @ref="chart" Id="chartPurch" />
        </div>
    </div>
    <div class="ws-card ws-func">
        <div class="ws-card-head">
            <i class="fa fa-th"></i>
            <span>常用功能</span>
        </div>
        <div class="ws-card-body">
            @if (visitMenus != null && visitMenus.Count > 0)
            {
                foreach (var item in visitMenus)
                {
                    <div class="ws-func-menu" onclick="@(() => OnMenuClick(item))">
                        <i class="@item.Icon"></i>
                        <span>@item.Name</span>
                    </div>
                }
            }
        </div>
    </div>
</div>

@code {
    private UserInfo? user;
    private HomeInfo? info;
    private List<MenuItem>? visitMenus;
    private Chart? chart;
    private int curChartType = 1;
    private string? IsChartActive(int type) => curChartType == type ? "active" : "";

    protected override async Task InitPageAsync()
    {
        user = CurrentUser;
        info = await Client.Home.GetHomeAsync();
        visitMenus = KRConfig.GetMenus(info?.VisitMenuIds);
        OnChartClick(1);
    }

    private void OnChartClick(int type)
    {
        if (chart == null)
            return;

        curChartType = type;
        if (type == 1)
        {
            var title = $"{DateTime.Now:yyyy}年度统计";
            chart.YAxis = new { title = new { text = "单量" } };
        }
        else if (type == 2)
        {
            var title = $"{DateTime.Now:yyyy}年度统计";
            chart.YAxis = new { title = new { text = "金额" } };
        }
    }

    private void OnMenuClick(MenuItem info) => Context.Navigate(info);
}