@inherits BaseComponent

<KLayout @ref="layout" IsAdmin OnLoadMenus="OnLoadMenus" OnReloadPage="OnReloadPage">
    @if (UserSetting.LayoutMode == LayoutMode.Horizontal.ToString() && !Config.App.IsTopMenu)
    {
        <Layout Class="@LayoutClass">
            <div class="@HeaderClass">
                <div class="left">
                    <div class="kui-logo" @onclick="OnLogoClick"></div>
                    <MainMenu @ref="menu" Mode="MenuMode.Horizontal" Parent="root" />
                </div>
                <TopNavbar OnSetting="OnSetting" />
            </div>
            <Content>
                <MainBody @ref="body" ChildContent="ChildContent" />
            </Content>
            <MainFooter />
        </Layout>
    }
    else
    {
        <Layout Class="@LayoutClass">
            @if (UserSetting.LayoutMode == LayoutMode.Float.ToString() && !Config.App.IsTopMenu)
            {
                <Sider Theme="UserSetting.ToSiderTheme()" Width="UIConfig.SideWidth" Class="@SiderClass" CollapsedWidth="60" Collapsed NoTrigger>
                    <div class="kui-logo" @onclick="OnLogoClick"></div>
                    <div class="@ScrollClass" style="width:@(UIConfig.SideWidth)px;">
                        <MainMenu @ref="menu" Mode="MenuMode.Inline" Parent="MenuParent" />
                    </div>
                </Sider>
            }
            else
            {
                <Sider Theme="UserSetting.ToSiderTheme()" Width="UIConfig.SideWidth" Class="@SiderClass" @bind-Collapsed="collapsed" CollapsedWidth="60" Collapsible NoTrigger="!Config.App.IsTopMenu">
                    <div class="kui-logo" @onclick="OnLogoClick"></div>
                    <div class="@ScrollClass" style="width:@(UIConfig.SideWidth)px;">
                        <MainMenu @ref="menu" Mode="MenuMode.Inline" Parent="MenuParent" />
                    </div>
                </Sider>
            }
            <Layout>
                <div class="kui-header">
                    <div class="left">
                        @if (Config.App.IsTopMenu)
                        {
                            <div class="kui-top-menu">
                                @foreach (var item in topMenus)
                                {
                                    var active = item.Id == topMenu?.Id;
                                    <div class="item @(active ? "active" : "")" @onclick="e => OnTopMenuClick(item)">@item.Name</div>
                                }
                            </div>
                        }
                        else
                        {
                            if (UserSetting.LayoutMode != LayoutMode.Float.ToString())
                            {
                                <NavToggle OnToggle="OnToggle" />
                            }
                            <NavRefresh />
                            <TopBreadcrumb Current="Context.Current" />
                        }
                    </div>
                    <TopNavbar OnSetting="OnSetting" />
                </div>
                <Content>
                    <MainBody @ref="body" ChildContent="ChildContent" />
                </Content>
                <MainFooter />
            </Layout>
        </Layout>
    }
</KLayout>