@inherits BaseComponent

<KLayout OnReloadPage="OnReloadPage" OnLoadMenus="OnLoadMenus" OnToggleSide="OnToggleSide">
    @if (Context.UserSetting.LayoutMode == LayoutMode.Horizontal.ToString())
    {
        <Layout Class="@LayoutClass">
            <Header Class="@HeaderClass">
                <div class="left">
                    <div class="kui-logo" @onclick="e=>OnLogoClick()"></div>
                    <MainMenu @ref="menu" Mode="MenuMode.Horizontal" Items="App.UserMenus" />
                </div>
                <TopNavbar OnMenuClick="OnMenuClick" />
            </Header>
            <Content>
                <MainBody @ref="body" ChildContent="ChildContent" />
            </Content>
            <MainFooter />
        </Layout>
    }
    else
    {
        <Layout Class="@LayoutClass">
            @if (Context.UserSetting.LayoutMode == LayoutMode.Float.ToString())
            {
                <Sider Theme="Context.UserSetting.ToSiderTheme()" Class="@MenuClass" CollapsedWidth="60" Collapsed NoTrigger>
                    <div class="kui-logo" @onclick="e=>OnLogoClick()"></div>
                    <div class="kui-scroll">
                        <MainMenu @ref="menu" Mode="MenuMode.Inline" Items="App.UserMenus" />
                    </div>
                </Sider>
            }
            else
            {
                <Sider Theme="Context.UserSetting.ToSiderTheme()" Class="@MenuClass" @bind-Collapsed="collapsed" CollapsedWidth="60" Collapsible NoTrigger>
                    <div class="kui-logo" @onclick="e=>OnLogoClick()"></div>
                    <div class="kui-scroll">
                        <MainMenu @ref="menu" Mode="MenuMode.Inline" Items="App.UserMenus" />
                    </div>
                </Sider>
            }
            <Layout>
                <Header Class="kui-header">
                    <div class="left">
                        @if (Context.UserSetting.LayoutMode != LayoutMode.Float.ToString())
                        {
                            <DynamicComponent Type="typeof(NavToggle)" />
                        }
                        <DynamicComponent Type="typeof(NavRefresh)" />
                        <TopBreadcrumb Current="Context.Current" />
                    </div>
                    <TopNavbar OnMenuClick="OnMenuClick" />
                </Header>
                <Content>
                    <MainBody @ref="body" ChildContent="ChildContent" />
                </Content>
                <MainFooter />
            </Layout>
        </Layout>
    }
    <Drawer Closable="true" @bind-Visible="showSetting" Placement="DrawerPlacement.Right" Title="@(Language["Nav.Setting"])" Width="320">
        <SettingForm OnSave="OnSaveSetting" OnReset="OnResetSetting" OnChange="StateHasChanged" />
    </Drawer>
</KLayout>

@code {
    private bool showSetting = false;
    private bool collapsed = false;

    private MainMenu menu;
    private MainBody body;

    private string LayoutClass => CssBuilder.Default("kui-layout").AddClass(Context.UserSetting.Size).BuildClass();
    private string HeaderClass => CssBuilder.Default("kui-header")
                                            .AddClass("kui-menu-dark", Context.UserSetting.MenuTheme == "Dark")
                                            .BuildClass();
    private string MenuClass => CssBuilder.Default()
                                          .AddClass("kui-menu-dark", Context.UserSetting.MenuTheme == "Dark")
                                          .AddClass("kui-menu-float", Context.UserSetting.LayoutMode == LayoutMode.Float.ToString())
                                          .BuildClass();

    /// <summary>
    /// 取得或设置子组件内容。
    /// </summary>
    [Parameter] public RenderFragment ChildContent { get; set; }

    private void OnReloadPage()
    {
        body?.ReloadPage();
    }

    private void OnLoadMenus()
    {
        menu?.SetItems(App.UserMenus);
    }

    private void OnToggleSide(bool collapsed)
    {
        this.collapsed = collapsed;
        StateChanged();
    }

    private async Task OnSaveSetting()
    {
        var result = await Admin.SaveUserSettingAsync(Context.UserSetting);
        if (result.IsValid)
            await App.OnThemeColorAsync();
    }

    private Task OnResetSetting()
    {
        Context.UserSetting = new();
        return OnSaveSetting();
    }

    private void OnLogoClick()
    {
        Navigation.NavigateTo("/");
    }

    private void OnMenuClick(string id)
    {
        switch (id)
        {
            case "logout":
                App.Logout();
                break;
            case "setting":
                showSetting = true;
                StateHasChanged();
                break;
        }
    }
}