@inherits BaseComponent

@if (!string.IsNullOrWhiteSpace(TipText))
{
    <KAlert Type="StyleType.Info" Text="@TipText" />
}
<TypeForm @ref="form" Model="Model" Class="kui-form">
    <AntRow>
        <DataItem Span="24" Label="当前密码">
            <AntPassword @bind-Value="@Model.OldPwd" Placeholder="@Language["请输入当前密码"]" />
        </DataItem>
    </AntRow>
    <AntRow>
        <DataItem Span="24" Label="新密码">
            @if (system.PwdComplexity == nameof(PasswordComplexity.None))
            {
                <AntPassword @bind-Value="@Model.NewPwd" Placeholder="@Language["请输入新密码"]" />
            }
            else
            {
                <AntPassword @bind-Value="@Model.NewPwd" Placeholder="@Language["请输入新密码"]" OnInput="OnNewPwdInput" />
                <KStrength Value="@strengthValue" Text="@strengthText" Tips="@strengthTips" />
            }
        </DataItem>
    </AntRow>
    <AntRow>
        <DataItem Span="24" Label="确认新密码">
            <AntPassword @bind-Value="@Model.NewPwd1" Placeholder="@Language["请再次输入新密码"]" />
        </DataItem>
    </AntRow>
    <div class="kui-form-button">
        <KButton Type="ButtonType.Primary" Name="确认修改" OnClick="OnUpdate" />
    </div>
</TypeForm>