@inherits BaseComponent

@if (Model != null && Model.QueryColumns != null && Model.QueryColumns.Count > 0)
{
    if (Model.QueryColumns.Count > 3)
    {
        var showCount = 3;
        var count = Model.QueryColumns.Count;
        if (count > showCount)
            count = _expand ? count : showCount;
        var offset = _expand ? (3 - count % 4) * 6 : 0;
        <div class="kui-query-more">
            <QueryDataForm @ref="form" Model="Model.QueryData">
                <AntRow>
                    @for (var i = 0; i < count; i++)
                    {
                        var item = Model.QueryColumns[i];
                        var itemName = Language.GetFieldName(item, Model.DataType);
                        <AntCol Span="6">
                            <QueryItem Label="@itemName" Item="item" Data="context" OnSearch="OnSearchAsync" />
                        </AntCol>
                    }
                    <AntCol Span="6" Offset="offset" Style="text-align:right;">
                        <div class="ant-form-item">
                            <KButton Name="@Language.Search" Type="ButtonType.Primary" Icon="search" OnClick="OnSearchAsync" />
                            @if (IsAdvSearch)
                            {
                                <KButton Name="@Language.AdvSearch" Type="ButtonType.Primary" OnClick="ShowAdvSearch" />
                            }
                            <KButton Name="@Language.Reset" Icon="undo" Type="ButtonType.Default" OnClick="OnReset" />
                            @if (Model.QueryColumns.Count > showCount)
                            {
                                <a style="margin-left:8px;font-size:12px;" @onclick="()=>{_expand=!_expand;}">
                                    <Icon Type="@(_expand ? "up" : "down")"></Icon> @(_expand ? Language["Collapse"] : Language["Expand"])
                                </a>
                            }
                        </div>
                    </AntCol>
                </AntRow>
            </QueryDataForm>
        </div>
    }
    else
    {
        <div class="ant-query">
            <QueryDataForm @ref="form" Model="Model.QueryData" Layout="@FormLayout.Inline">
                @for (var i = 0; i < Model.QueryColumns.Count; i++)
                {
                    var item = Model.QueryColumns[i];
                    var itemName = Language.GetFieldName(item, Model.DataType);
                    <QueryItem IsInline Label="@itemName" Item="item" Data="context" OnSearch="OnSearchAsync" />
                }
                <div class="ant-query-btn">
                    <KButton Name="@Language.Search" Type="ButtonType.Primary" Icon="search" OnClick="OnSearchAsync" />
                    @if (IsAdvSearch)
                    {
                        <KButton Name="@Language.AdvSearch" Type="ButtonType.Primary" OnClick="ShowAdvSearch" />
                    }
                    <KButton Name="@Language.Reset" Icon="undo" Type="ButtonType.Default" OnClick="OnReset" />
                </div>
            </QueryDataForm>
        </div>
    } 
}

@code {
    private bool _expand = false;
    private QueryDataForm form;
    private bool IsAdvSearch => AdvSearch || Model.AdvSearch;

    [Parameter] public TableModel Model { get; set; }
    [Parameter] public bool AdvSearch { get; set; }

    private async Task OnSearchAsync()
    {
        Model.Criteria.Query = Model.QueryData.Select(d => d.Value).ToList();
        await Model.SearchAsync();
    }

    private void ShowAdvSearch() => Model.ShowAdvancedSearch(App);

    private void OnReset()
    {
        Model.SetDefaultQuery();
        StateChanged();
    }
}