@inherits BaseComponent

<Breadcrumb>
    <BreadcrumbItem>
        <span style="cursor:pointer;" @onclick="OnHomeClick">
            @* <Icon Type="home" /> *@
            <span>@Language[Language.Home]</span>
        </span>
    </BreadcrumbItem>
    @if (Current != null)
    {
        @* if (Current.Parent != null)
        {
            if (Current.Parent.Parent != null)
            {
                <BreadcrumbItem>
                    <Icon Type="@Current.Parent.Parent.Icon" />
                    <span>@Language.GetString(Current.Parent.Parent)</span>
                </BreadcrumbItem>
            }
            <BreadcrumbItem>
                <Icon Type="@Current.Parent.Icon" />
                <span>@Language.GetString(Current.Parent)</span>
            </BreadcrumbItem>
        } *@
        if (Current.RouteUrl != "/")
        {
            <BreadcrumbItem>
                @* <Icon Type="@Current.Icon" /> *@
                <span>@Language[Current.Name]</span>
            </BreadcrumbItem>
        }
    }
</Breadcrumb>