@inherits BaseComponent

<Breadcrumb>
    <BreadcrumbItem>
        <span style="cursor:pointer;" @onclick="OnHomeClick">
            @* <Icon Type="home" /> *@
            <span>@Language.Home</span>
        </span>
    </BreadcrumbItem>
    @if (Current != null)
    {
        @* if (Current.Parent != null)
        {
            if (Current.Parent.Parent != null)
            {
                <BreadcrumbItem>
                    <Icon Type="@Current.Parent.Parent.Icon" />
                    <span>@Language.GetString(Current.Parent.Parent)</span>
                </BreadcrumbItem>
            }
            <BreadcrumbItem>
                <Icon Type="@Current.Parent.Icon" />
                <span>@Language.GetString(Current.Parent)</span>
            </BreadcrumbItem>
        } *@
        if (Current.Id != "Index" && Current.Name != "Home")
        {
            var menuName = Language.GetString(Current);
            <BreadcrumbItem>
                @* <Icon Type="@Current.Icon" /> *@
                <span>@menuName</span>
            </BreadcrumbItem>
        }
    }
</Breadcrumb>