@inherits InstallPage

<div class="install">
    <h1>欢迎使用@(Config.AppId)</h1>
    <Form Model="@Model" OnFinish="OnStart" LabelColSpan="colLabel" WrapperColSpan="colWrapper">
        <FormItem Label="企业编码">
            <Input @bind-Value="@context.CompNo" />
        </FormItem>
        <FormItem Label="企业名称">
            <Input @bind-Value="@context.CompName" />
        </FormItem>
        <FormItem Label="系统名称">
            <Input @bind-Value="@context.AppName" />
        </FormItem>
        <FormItem Label="管理员账号">
            <Input @bind-Value="@context.UserName" ReadOnly />
        </FormItem>
        <FormItem Label="管理员密码">
            <InputPassword @bind-Value="@context.Password" />
        </FormItem>
        <FormItem Label="确认密码">
            <InputPassword @bind-Value="@context.Password1" />
        </FormItem>
        <FormItem WrapperColOffset="colLabel" WrapperColSpan="colWrapper">
            <Button Type="@ButtonType.Primary" HtmlType="submit">开始使用</Button>
        </FormItem>
    </Form>
</div>

@code {
    private int colLabel = 6;
    private int colWrapper = 18;
}