<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Known</title>
    <link rel="stylesheet" href="~/static/modules/frame/index.min.css">
    @RenderSection("Head", false)
</head>
<body>
    @Html.AntiForgeryToken()
    @RenderBody()
    <script src="~/static/modules/frame/index.min.js"></script>
    @RenderSection("Foot", false)
</body>
</html>