@page "/counter"
@inherits BaseComponent
@attribute [ReuseTabsPage(Title = "计数器")]

<PageTitle>Counter</PageTitle>

<div class="kui-card" style="padding:20px">
    <h1>Counter</h1>

    <p role="status">Current count: @currentCount</p>

    <KButton Type="@ButtonType.Primary" Name="Click me" OnClick="IncrementCount" />
    <KButton Type="@ButtonType.Primary" Name="耗时" OnClick="OnLoad" />

    <AntForm Form="model">
        <AntRow>
            <DataItem Span="24" Label="附件">
                <KUpload MultiFile Accept=".jpg, .png, .doc" />
            </DataItem>
        </AntRow>
        <AntRow>
            <DataItem Span="12" Label="测试">
                <AntCheckboxGroup @bind-Value="context.Fields" Category="Item1,Item2,Item3" />
            </DataItem>
            <DataItem Span="12" Label="测试">
                <AntSelectCode @bind-Value="context.Field" Category="Item1,Item2,Item3" />
            </DataItem>
        </AntRow>
        <div>@string.Join(",", value)</div>
        <div>@model.Data.Field</div>
    </AntForm>
</div>

@code {
    private int currentCount = 0;
    private string[] value = [];
    private FormModel<Test> model;
    private Test test = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        model = new FormModel<Test>(this);
        model.Data = new Test();
    }

    private void IncrementCount()
    {
        currentCount++;
    }

    private void OnLoad()
    {
        App?.ShowSpinAsync("耗时操作中...", () =>
        {
            Thread.Sleep(10000);
            return Task.CompletedTask;
        });
    }

    class Test
    {
        public string Field { get; set; }

        public string[] Fields
        {
            get { return Field?.Split(','); }
            set { Field = string.Join(',', value); }
        }
    }
}
