@inherits Known.Razor.SettingForm

<Form Model="@Model" Class="form-setting" LabelColSpan="10" WrapperColSpan="14">
    <FormItem>
        <Switch @bind-Value="@context.IsLight" CheckedChildren="亮色" UnCheckedChildren="暗色" />
    </FormItem>
    <FormItem>
        <Switch @bind-Value="@context.Accordion" />
    </FormItem>
    <FormItem>
        <Switch @bind-Value="@context.MultiTab" />
    </FormItem>
    <div style="text-align:center;">
        <Button Type="@ButtonType.Primary" OnClick="SaveAsync">保存</Button>
        <Button Style="margin-left:8px;" OnClick="ResetAsync">重置</Button>
    </div>
</Form>