@inherits AdminPage

<Layout Style="min-height:100vh;">
    @if (IsLoaded)
    {
        <Sider Breakpoint="@BreakpointType.Lg" CollapsedWidth="60" Collapsible Theme="ThemeSider">
            <div class="kui-logo" />
            <Menu Theme="ThemeMenu" Mode="MenuMode.Inline" Accordion="Context.UserSetting.Accordion">
                @if (UserMenus != null)
                {
                    foreach (var item in UserMenus)
                    {
                        if (item.Children != null && item.Children.Count > 0)
                        {
                            RenderFragment subTitle = @<span>
                                <Icon Type="@item.Icon" Theme="outline" />
                                <span>@item.Name</span>
                            </span>;
                            <SubMenu Key="@item.Id" TitleTemplate=subTitle>
                                @foreach (var child in item.Children)
                                {
                                    <MenuItem Key="@child.Id" OnClick="e=>Context.Navigate(child)">
                                        <Icon Type="@child.Icon" Theme="outline" />
                                        <span>@child.Name</span>
                                    </MenuItem>
                                }
                            </SubMenu>
                        }
                        else
                        {
                            <MenuItem Key="@item.Id" OnClick="e=>Context.Navigate(item)">
                                <Icon Type="@item.Icon" Theme="outline" />
                                <span>@item.Name</span>
                            </MenuItem>
                        }
                    }
                }
            </Menu>
        </Sider>
        <Layout>
            <Header Class="kui-background kui-header">
                <div class="kui-app-name">@CurrentUser?.AppName</div>
                <NavTopRight OnMenuClick="OnMenuClick" />
            </Header>
            <Content>
                @if (Context.UserSetting.MultiTab)
                {
                    <PageTabs Menu="CurrentMenu" Items="TabMenus" />
                }
                else
                {
                    <PageSingle Menu="CurrentMenu" OnHome="OnHome" />
                }
            </Content>
            @if (AntConfig.Option.Footer != null)
            {
                <Footer Style="text-align:center">@AntConfig.Option.Footer</Footer>
            }
            else
            {
                <Footer Style="text-align:center"><PageFooter /></Footer>
            }
        </Layout>
    }
</Layout>

@code{
    private SiderTheme ThemeSider => Context.UserSetting.IsLight ? SiderTheme.Light : SiderTheme.Dark;
    private MenuTheme ThemeMenu => Context.UserSetting.IsLight ? MenuTheme.Light : MenuTheme.Dark;

    private void OnHome() => OnMenuClick("home");

    private void OnMenuClick(string id)
    {
        switch (id)
        {
            case "home":
                Context.NavigateToHome();
                break;
            case "profile":
                Context.NavigateToUserProfile();
                break;
            case "logout":
                UI.Confirm("确定要退出系统？", SignOutAsync);
                break;
        }
    }
}