@inherits PageLayout

<KLayout Layout="this">
    @if (IsLoaded)
    {
        <Spin Spinning="showSpin" Tip="@spinTip">
            @if (Context.IsMobile)
            {
                <AppLayout>@Body</AppLayout>
            }
            else
            {
                <Layout Style="min-height:100vh;">
                    <Sider Breakpoint="@BreakpointType.Lg" CollapsedWidth="60" Collapsible>
                        <div class="kui-logo"><img src="@Context.LogoUrl" /></div>
                        <div class="kui-scroll">
                            <AntMenu Accordion="Context.UserSetting.Accordion" Items="UserMenus" />
                        </div>
                    </Sider>
                    <Layout>
                        <Header Class="kui-header">
                            <NavBreadcrumb Current="Context.Current" />
                            <NavTopRight OnMenuClick="OnMenuClick" />
                        </Header>
                        <Content Class="@Content">
                            @if (Context.UserSetting.MultiTab)
                            {
                                <ReuseTabs Class="top-row px-4" TabPaneClass="content px-4" />
                            }
                            else
                            {
                                <div style="margin:0 10px;min-height:360px;">
                                    @Body
                                </div>
                            }
                        </Content>
                        @if (AntConfig.Option.ShowFooter)
                        {
                            if (AntConfig.Option.Footer != null)
                            {
                                <Footer Style="text-align:center">@AntConfig.Option.Footer</Footer>
                            }
                            else
                            {
                                <Footer Style="text-align:center"><PageFooter /></Footer>
                            }
                        }
                    </Layout>
                </Layout>
            }
        </Spin>
        @if (IsLogin && !Context.IsMobile)
        {
            <Drawer Closable="true" @bind-Visible="showSetting" Placement="right" Title='(Language["Nav.Setting"])' Width="300">
                <Known.Blazor.SettingForm @ref="setting" />
            </Drawer>
        }
    }
</KLayout>

@code {
    private string spinTip = "";
    private bool showSpin = false;
    //Admin
    private bool showSetting = false;
    private Known.Blazor.SettingForm setting;
    private string Content => Context.UserSetting.MultiTab ? "kui-tabs" : "kui-page";

    public override async Task ShowSpinAsync(string text, Action action)
    {
        if (action == null)
            return;

        showSpin = true;
        spinTip = text;
        StateChanged();
        await Task.Run(async () =>
        {
            try
            {
                action();
            }
            catch (Exception ex)
            {
                await OnError(ex);
            }
        });
        showSpin = false;
        StateChanged();
    }

    //Admin
    private void OnMenuClick(string id)
    {
        switch (id)
        {
            case "logout":
                Context?.UI?.Confirm(Language["Tip.Exits"], SignOutAsync);
                break;
            case "setting":
                showSetting = true;
                StateChanged();
                break;
        }
    }
}