<Form Model="@Model" OnFinish="OnLogin" LabelCol="null">
    <FormItem>
        <Input @bind-Value="@context.UserName" Placeholder="用户名">
        <Prefix><Icon Type="user" /></Prefix>
        </Input>
    </FormItem>
    <FormItem>
        <InputPassword @bind-Value="@context.Password" Placeholder="密码">
            <Prefix><Icon Type="lock" /></Prefix>
        </InputPassword>
    </FormItem>
    <FormItem>
        <Switch @bind-Checked="@context.Remember" /> 记住用户名
    </FormItem>
    <FormItem>
        <Button Type="@ButtonType.Primary" HtmlType="submit" Block>登 录</Button>
    </FormItem>
</Form>

@code {
    [Parameter] public LoginFormInfo Model { get; set; }
    [Parameter] public EventCallback<EditContext> OnLogin { get; set; }
}